---
import BioImage from "../assets/cmgriffing.jpg";
---

<div>
  <img src={BioImage} alt="Headshot of Chris Griffing" />
  <p>
    Hi, I'm <strong>cmgriffing</strong>. I like to make things. You can watch me
    make things on <a href="https://www.twitch.tv/cmgriffing" target="_blank"
      >Twitch</a
    >, see some of my work on <a
      href="https://www.github.com/cmgriffing"
      target="_blank">GitHub</a
    >, or read more about me on <a
      href="https://chrisgriffing.com"
      target="_blank">my website</a
    >.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
